<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601}|%p|%c|%C{1}|%M|%L|%m%n" />
    </Console>
  </Appenders>
  <Loggers>
    <!-- Levels are one of TRACE, DEBUG, INFO, WARN, ERROR, ALL or OFF -->
    <Root level="INFO">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>